.mlp-logo-h {
    height: 40px;
}

table td:nth-child(2),
table th:nth-child(2) {
    display: none;
}

/* Table */
@media screen and (min-width: 768px) {

    table td:nth-child(2),
    table th:nth-child(2) {
        display: table-cell;
    }

}